body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url("https://filesedc.com/uploads/273/img/2019/10/1200/never-have-i-ever-questions-5dad5e5702ee0.jpg");
  background-size: cover;
  text-align: center;
  margin-top: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
