/* @import url('https://fonts.googleapis.com/css?family=Acme|Anton|Archivo+Black|Bangers|Black+Ops+One|Bowlby+One+SC|Bungee+Inline|Cabin+Condensed|Cabin+Sketch|Capriola|Carter+One|Contrail+One|Do+Hyeon|Emilys+Candy|Francois+One|Fredericka+the+Great|Gloria+Hallelujah|Gupter|Long+Cang|Love+Ya+Like+A+Sister|Modak|Monoton|Neucha|Norican|Pangolin|Patua+One|Permanent+Marker|Prosto+One|Rock+Salt|Rye|Sawarabi+Mincho|Schoolbell|Sedgwick+Ave|Shojumaru|Special+Elite|Sriracha|VT323|Viga&display=swap'); */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Kalam', cursive;
}
.home-page {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right bottom, rgba(213, 140, 111, 0.4), rgba(180, 45, 40, 0.4)),
		url("https://cdn.shopify.com/s/files/1/0059/0056/6597/products/photo-id-1998075002949-group-of-smiling-friends-having-fun-at-the-beach_1200x800.jpg?v=1563888005");
	height: 100vh;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	font-size: 60px;
	text-align: center;
}
.login-page {
	position: relative;
	background-image: linear-gradient(to right bottom, rgba(213, 140, 111), rgba(180, 45, 40));
	height: 100vh;
}
.login-form {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: auto;
	max-width: 330px;
	padding: 15px;
	width: 300px;
}
.btn-dark.btn.btn-primary {
	padding: 8px;
	font-size: 25px;
	background-color: rgba(213, 140, 111);
	border-color: rgba(213, 140, 111);
	border-radius: 15px;
	color: black;
}
.list-rooms-page {
	background-image: linear-gradient(to right bottom, rgba(213, 140, 111), rgba(180, 45, 40));
	height: 100vh;
}
.rooms-list-header {
	text-align: center;
	padding: 10px;
	line-height: 1.7;
	display: block;
}
.rooms-list-link{
  text-align: center;
	padding: 10px;
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.rooms-list-link:hover{
  color: black;
}
.a.link {
  color: black;
  text-decoration: none;
}

